.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-output-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.answer-h {
    margin-right: 10px;
}